<p>Alright <%= user_name%>, it is. <br/> So, <%= user_name%> how much change do you need?</p>

<form action='change' method='post'>
	<input type='number' name='user_change' autofocus='autofocus'>
	<input type='submit'>
</form>